DEBUG=true
PAGE_GENERATOR_DEBUG=true
# DEEPSEEK
DEEPSEEK__API_KEY=your-deepseek-api-key
DEEPSEEK__MAX_CONNECTIONS=5
DEEPSEEK__TIMEOUT=5
# UNSPLASH
UNSPLASH__API_KEY=your-unsplash-access-key
UNSPLASH__MAX_CONNECTIONS=5
UNSPLASH__TIMEOUT=20
# S3
S3__ENDPOINT_URL=http://127.0.0.1:9000
S3__ACCESS_KEY=your-minio-login
S3__SECRET_KEY=your-minio-password
S3__BUCKET=your-bucket-name
S3__MAX_CONNECTIONS=50
S3__CONNECT_TIMEOUT=50
S3__READ_TIMEOUT=30
# GOTENBERG
GOTENBERG__API_URL=https://demo.gotenberg.dev
GOTENBERG__SCREENSHOT_WIDTH=1000
GOTENBERG__SCREENSHOT_FORMAT=png
GOTENBERG__SCREENSHOT_TIMEOUT=15
GOTENBERG__SCREENSHOT_ANIMATION_DELAY=8
GOTENBERG__MAX_CONNECTIONS=5
